extends ./layout.pug 
block contenido
  div(class="col-md-4 remove-float  container text-center big-top-space shadow p-3 mb-5 bg-white  box-border")
    h1 hola mundo
    a(href="/login") Iniciar Sesion
    div
      a(href="/singup") Registro
