html(lang="es")
    head
        title noticias
        meta(charset="utf-8")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet")
        style 
          include ../public/CSS/app.css  
        script(src='socket.io/socket.io.js')
        
    body 
        nav(class="large-padding black white-text")
          ul
            li 
              a(href="/app") Inicio
            li 
              a(href="/app/noticias/new") subir imagen
            li 
              a(href="/app/noticias") mis noticias
            li 
              a(href="/app/noticias/category") social
            li 
              a(href="/app/noticias/category") economia
            li 
              a(href="/app/noticias/category") crimen
        block contenido