extends ./layout.pug 
block contenido
   div(class="col-md-4 remove-float  container text-center big-top-space shadow p-3 mb-5 bg-white  box-border")
    h2 Iniciar Sesion
    form(action="/sessions" method="POST")
        div(class="form-group")
            label(for="email") Email 
            input(type="text" name="email" placeholder="Email" id="email" class="form-control")
        div
            label(for="password") Contraseña 
            input(type="password" name="password" placeholder="Contraseña" id="password" class="form-control bottom-space")
        div 
            input(type="submit" value="Iniciar Sesion" class="btn btn-info")